* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsla(212, 100%, 29%, 0.192);
    background-image: linear-gradient(hsla(234, 100%, 50%, 0.11), hsl(340, 100%, 70%), hsl(24, 100%, 50%),  hsl(340, 100%, 70%), hsl(225, 100%, 60%));
    justify-content: center;
    align-items: center;
}

.header-menu{
    margin: 0.3rem 0;
}

.header-menu ul{
    align-items: center;
    display: flex;
    gap: 0.3rem;
    list-style: none;
    justify-content: space-between;
    border-bottom: solid 4px hsl(0, 0%, 0%);
    padding: 0.3rem 5rem;
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
}

.header-menu ul button{
    background: transparent;
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}

.logo{
    width: 8rem;
    cursor: pointer;
}
.icons{
    display: flex;
    align-items: center;
}

.icons span{
    display: block;
    height: 3rem;
    background: hsl(0, 0%, 0%);
    box-sizing: border-box;
    width: 4px;
    border-radius: 5px;
    margin: 10px;
}

.account-icon svg{
    width: 2.5rem;
    cursor: pointer;
}

.cart-icon svg{
    width: 2.5rem;
    cursor: pointer;
}

main{
    width: 85%;
    padding: 5rem;
}

.titles{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.titles svg{
    width: 2.8rem;
}

.titles h2{
    font-size: 2rem;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
}

.divider{
    display: block;
    height: 12px;
    background: hsl(0, 0%, 0%);
    box-sizing: border-box;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    margin: .5rem 0rem;
    margin-bottom: 1rem;
}

.product-row{
    display: flex;
    justify-content: space-between;
}

.product{
    background-color: hsla(0, 0%, 0%, 0.651);
    border-radius: 10px;
    margin-bottom: 2rem;
    max-width: 12rem;
    text-wrap: wrap;
    word-wrap: break-word;
    z-index: 1000;
    position: relative;
    cursor: pointer;
}

.product:hover{
    background-color: hsla(0, 0%, 0%, 0.842);

}

.product img{
    height: 16rem;
    width: 12rem;
    object-fit: cover;
    box-sizing: border-box;
    padding: 1rem;
    transition: opacity 0.3s ease;
}

.product:hover img{
    opacity: 0.08;
}

.product h3{
    color: hsl(0, 0%, 100%);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 85%;
    position: absolute; 
    top: 70%; 
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.product h4{
    color: hsl(0, 0%, 100%);
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 85%;
}

.product svg{
    width: 6rem;
    fill:hsl(0, 0%, 100%);
    position: absolute; 
    top: 20%; 
    left: 26.5%;
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.product:hover h3,
.product:hover h4,
.product:hover svg{
    opacity: 1; /* Mostrar el icono al pasar el ratón */
    visibility: visible;
    z-index: 1003;
}

.banner{
    width: 98.5%;
    margin-bottom: 2rem;
    border: 10px;
    border-color: hsl(0, 0%, 0%);
    border-style: solid;
    border-radius: 4px;
}

.banner img{
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    justify-content: center;
}

.banner button{
    position: absolute;
    z-index: 1002;
    display: flex;
    justify-content: flex-start;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    margin: 6rem 6rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.product-data{
    display: flex;
    background-color: hsla(0, 0%, 0%, 0.651);
    border-radius: 10px;
    margin-bottom: 2rem;
    text-wrap: wrap;
    word-wrap: break-word;
    font-family: 'Exo 2', sans-serif;  
    font-weight: 100;
}

.description-box{
    padding: 1rem;
    color: hsl(0, 0%, 100%);
}

.description-box p{
    margin-bottom: 1.5rem;
}


.product-detail img{
    width: 20rem;
    object-fit: cover;
    box-sizing: border-box;
    padding: 1rem;
}

.description-box{


}

footer{
    background-color: hsl(0, 0%, 0%);
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer ul{
    list-style: none;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

.footer-menu{
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.footer-menu ul{
    display: flex;
    padding: 2rem;
    box-sizing: border-box;
    gap: 1rem;
    margin-left: 40%;
}

.end h4{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin-left: 45%;

}


